html,
body {
  height: 100%;
}

body {
  overscroll-behavior-y: none;
}

h2 {
  text-align: center;
  font-size: 8rem;
  margin: 40px auto;
  @media (max-width: 480px) {
    font-size: 6rem;
  }
  .outline {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
  }
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  .scroll {
    padding: 2vh 0;
    pointer-events: none;
  }
  .img-container {
    width: 700px;
    height: 420px;
    overflow: hidden;
    position: relative;
    margin: 400px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      margin-top: 200px;
    }
    &:last-child {
      margin-bottom: 200px;
    }
    @media (max-width: 480px) {
      width: 95%;
    }
    img {
      width: 100%;
      position: absolute;
    }
  }
}
